.twitter-login{
    position: relative;
    width: 100%;
}
.login-button{
    position: relative;
    left: 40%;
    margin-top: 28%;

}
.card-panel{
    height: 80vh;
    margin-top: 8%;
   overflow-x: scroll;

}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 blue;
    box-shadow: 0 1px 0 0 blue;
}
.input-field input[type=text]:focus + label {
   color: blue !important;
 }
